<div class="image">
    <div class="setbody">
        <h4 translate>settings.title</h4>
        <br>
        <div>
        <button (click)="changeDefaultLanguage('en')">English</button>
        <button (click)="changeDefaultLanguage('fr')">French</button>
        <button (click)="changeDefaultLanguage('es')">Spanish</button>
        <button (click)="changeDefaultLanguage('te')">Hindi</button>
        <button (click)="changeDefaultLanguage('ta')">Tamil</button>
        </div>
        <br><br>
    
        <a routerLink='' translate>home.title</a> 
    </div>

</div>